{% extends 'base.html'%}
{% block tittle %}Online Notes{% endblock tittle %}
{% block body %}
<div class="container">
    <h1>Add Notes</h1>
    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="/notes" method="post" role="form" class="email-form"> {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
            
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Notes</label>
              <textarea class="form-control" name="notes" rows="10" required></textarea>
            </div>
            {% for info in messages %}
        
        
            <div class="alert alert-{{info.tags}} alert-dismissible pd-5" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong></strong> {{info}}
            </div>
            
            <script>
              var alertList = document.querySelectorAll('.alert');
              alertList.forEach(function (alert) {
                new bootstrap.Alert(alert)
              })
            </script>
            
          {% endfor %}
            <div class="text-center"><button type="submit">Add</button></div>
        
        </form>
        </div>
        
</div>

<div class="container">





    <table class="table table-hover text-center ">
  
    <thead class=" text-dark">
  
      <tr>
  
        <th scope="col">Author</th>
  
        
  
      
  
        <th scope="col">Subject</th>
  
        <th scope="col">Note</th>
        <th scope="col">Action</th>
  
   
  
      </tr>
  
    </thead>
  
    <tbody>
  
      
  
    
  
    
        {% for info  in data reversed %}
    <tr class="align-middle">
  
    
  
   
  
   
   
   <td>{{info.name}}</td>
  
   <td>{{info.subject}}</td>
   <td><h6 >{{info.description}}</h6></td>
 
 
   <td>
 
 
   <buttonclass class="btn btn-danger">edit</buttonclass>
 
   
 
   <button type="button"class="btn btn-dark">
 
  <a href="?id={{info.id}}"> DELETE</a>
 
 </button>
 
   </td>
   
   
   
   
  
  </tr>
  <hr>
  {% endfor %}
 
  
      
  
      <!-- <button  onclick="delete_row($row[sno])" class="btn btn-dark mx-2">Delete</button> -->
  
    </tbody>
  
  </table>
  
    </div>
  
  
        {% endblock body %}



