{% load static %}
<div class="color-changer">
    <div class="color-panel">
        <img src="{% static 'images/gear.png' %}" alt="">
    </div>
    <div class="color-selector">
        <div class="heading">Custom Colors</div>
        <div class="colors">
            <ul >
            <li>
                <a href="#0" class="color-red " title="color-red"></a>
            </li>
            <li>
                <a href="#0" class="color-purple" title="color-purple"></a>
            </li>
            <li>
                <a href="#0" class="color-malt" title="color-malt"></a>
            </li>
            <li>
                <a href="#0" class="color-green" title="color-green"></a>
            </li>
            <li>
                <a href="#0" class="color-blue" title="color-blue"></a>
            </li>
            <li>
                <a href="#0" class="color-orange" title="color-orange"></a>
            </li>
            </ul>
        </div>
        <div class="heading">Style</div>
       <div class="colors">
        <ul>
        <li>
            <a href="#0" style="color: white; background-color: black; text-decoration-line: none; text-align: center;">1</a>
       </li>
       <li>      <a href="#0" style="color: white; background-color: black; text-decoration-line: none; text-align: center;">2</a>
   </li>
   <li>      <a href="#0" style="color: white; background-color: black; text-decoration-line: none; text-align: center;">3</a>
   </li>
</ul>
       </div>
           
    </div>
    </div>
  