{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="about">
 
  <!--about content-->
  <div id="about-content">
      <div class="about-header">
          About <span class="color">Me</span>
          <span class ="header-caption">Get to Know <span class="color"> me.</span></span>
      </div>
      <div class="about-main">
  <div class="about-first-paragraph wow">
  <!--about description-->
     <span class="about-first-line">
          I'm creative 
          <span class="color">web developer</span>
           based in New York , USA </span>
           <br>
     <span class="about-second-line"> With 20 years of experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step while working.</span>
     <div class="cv">
      <a href="#"><button>Download <span class="colors">CV</span></button></a>
  </div>
  </div>
  <!--about picture-->
  <div class="about-img">
      <img src="{% static 'images/about.jpg' %}" alt="Nischal Pandey">
  </div>
  </div>

  </div>
  <!--services start-->
  <div id="services">
      
  <!--services header-->
          <div class="services-heading wow">
              <span class="color">My</span> Services
          </div>
  <!--services header end-->
  <!--services content-->
          <div class="services-content">
                 <div class="service-one service wow">
                     <div class="service-img">
                     <img src="{% static 'images/coding.png' %}" alt="service-one">
                     </div>
                     <div class="service-description">
                      <h2>Web Designing</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam possimus</p>
                     </div>
                 </div>
                 <div class="service-two service wow">
                     <div class="service-img">
                     <img src="{% static 'images/instagram.png' %}" alt="service-two">
                     </div>
                     <div class="service-description">
                      <h2>Social Media</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam possimus</p>
                     </div>
                 </div>
                 <div class="service-three service wow">
                  <div class="service-img">
                     <img src="{% static 'images/bulb.png' %}" alt="service-three">
                  </div>
                  <div class="service-description">
                      <h2>Creative Design</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam possimus</p>
                  </div>
              </div>
          </div>
  </div>
  <!--services content end-->
  <!--services end-->
  <div id="skills">
      <div class="skills-header">
           My <span class="color"> Skills</span>
      </div>
      <div class="skills-content " style="text-align: center;">
          <div class="skill-html skill">
              <div class="skill-text">
          <div class="html">
              HTML/CSS
          </div>
              </div>
          <div class="html-prog wow prog">
       <div class="html-progress wow">95%</div>
          </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
          <div class="html">
            Javascript
          </div>
              </div>
          <div class="html-prog wow prog">
       <div class="js-progress wow">90%</div>
          </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
          <div class="html">
              Adobe Ps
          </div>
              </div>
          <div class="html-prog wow prog">
       <div class="adobe-progress wow">83%</div>
          </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
          <div class="html">
              PHP
          </div>
              </div>
          <div class="html-prog wow prog">
       <div class="php-progress wow">87%</div>
          </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
          <div class="html">
              JQuery
          </div>
              </div>
          <div class="html-prog wow prog">
       <div class="jquery-progress wow">94%</div>
          </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
          <div class="html">
              SEO
          </div>
              </div>
          <div class="html-prog wow prog">
       <div class="seo-progress wow">84%</div>
          </div>
          </div>
      </div>
  </div>

</div>
{% endblock body %}

