{% extends 'base.html' %}
{% load static %}

{% block tittle %}

contact
{% endblock tittle %}


{% block body%}

<div id="contact">
  
  <div class="contact-header-caption"> <span class="color"> Get</span> In Touch.</div></div>
  <div class="contact-content">
      <!--Contact form-->
       <div class="contact-form">
           <div class="form-header">
               Message Me
           </div>
           <form id="myForm" method="POST">
            {% csrf_token %} 
            

              <div class="input-line">
                  <input  name="name" type="text" placeholder="Name" class="input-name">
                  <input name="email" type="email" placeholder="Email"  class="input-name">
              </div>
              <input type="text" name="subject" placeholder="subject" class="input-subject">
              <textarea name ="body" class="input-textarea" placeholder="message"></textarea>
              <button type="submit" id ="submit" value="submit">Submit</button>
           </form>
           {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

       </div>
      <!--Contact form-->
      <!--Contact information-->
       <div class="contact-info">
          <div class="contact-info-header">
              Contact Info
          </div>
          <div class="contact-info-content">
          <div class="contect-info-content-line">
              <img src="{% static '/images/icon-name.png' %}" class="icon" alt="name-icon">
              <div class="contact-info-icon-text">
                  <h6>Name</h6>
                  <p>Nischal PAndey</p>
            </div>
          </div>
          <div class="contect-info-content-line">
            <img src="{% static 'images/icon-location.png' %}" class="icon" alt="location-icon">
            <div class="contact-info-icon-text">
                <h6>Location</h6>
                <p>New York, USA</p>
          </div>
        </div>
        <div class="contect-info-content-line">
            <img src="{% static 'images/icon-phone.png' %}" class="icon" alt="phone-icon">
            <div class="contact-info-icon-text">
                <h6>Call</h6>
                <p>+9865376531</p>
          </div>
        </div>
        
        <div class="contect-info-content-line">
            <img src="{% static 'images/icon-email.png' %}" class="icon" alt="email-icon">
            <div class="contact-info-icon-text">
                <h6>Email</h6>
                <p>Info@example.com</p>
          </div>
        </div>
          </div>
      <!--Contact information end-->
     </div>
  </div>
           
</div>
{% endblock body%}

