{% extends 'base.html' %}
{% load static %}
{% block tittle %}

Portfolio
{% endblock tittle %}

{% block body %}

<div id="portfolio">
    {% include 'widgets/gear.html' %}
<div class="blog-header"> Portfolio</span>

  <span class ="header-caption"> My  <span class="color"> Portfolio.</span></span>
  <a href="{% url 'public' %}" class="mybtn">Api </a>
</div>
 
  <div class="blog-content">
    {% for post in portfolio reversed %}
       <div class="blogs">
           <a href="portfolio/detail/{{post.slug}}">
           <div class="img">
              <img src="{{post.imgs.url}}" alt="{{post.imgs.title}}">
              <div class="blog-date">{{post.catg}}</div>
           </div>
           <div class="blog-text">
               <h3>{{post.title}}</h3>
               <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias dolore recusandae illum, corrupti quo 
                   veniam saepe aliquid! Quis voluptates ratione consequuntur vel, perferendis cum provident? Magnam fugiat voluptas
                    libero.</p> -->
           </div></a>
       </div>      
       {% endfor %}
  </div>
     
    

</div>
{% endblock body %}